# Configuration template for the portal running inside a Docker container

# See http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
spring:
  portal-datasource:
    url: {{ default .Env.PORTAL_DB_URL "jdbc:postgresql://172.22.0.1:5432/portal" }}
    schema: {{ default .Env.PORTAL_DB_SCHEMA "public" }}
    username: {{ default .Env.PORTAL_DB_USER "postgres" }}
    password: {{ .Env.PORTAL_DB_PASSWORD }}
    driver-class-name: org.postgresql.Driver

  data:
    jpa:
      repositories:
        bootstrap-mode: default
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQL9Dialect
      ddl-auto: validate

  # SPRING RESOURCES HANDLING
  resources:
    chain:
      enabled: true # TODO: why is that enabled? Do we serve any resources from the backend?

# HBP OAUTH2 LOGIN
hbp:
  authentication:
    enabled: {{ default .Env.AUTHENTICATION "1" }}
  client:
    clientId: {{ default .Env.CLIENT_ID "996f97c5-a3ca-460e-b18b-00df3e2be89a" }}
    clientSecret: {{ .Env.CLIENT_SECRET }}
    logoutUri: {{ .Env.LOGOUT_URI }}

# WEB FRONTEND
frontend:
  loginUrl: {{ default .Env.FRONTEND_LOGIN_URL "http://frontend/services/login/hbp" }}
  redirectAfterLoginUrl: {{ default .Env.FRONTEND_AFTER_LOGIN_URL "http://frontend/" }}
  redirectAfterLogoutUrl: {{ default .Env.FRONTEND_AFTER_LOGOUT_URL (default .Env.LOGIN_URI "http://frontend/services/login/hbp") }}

logging:
  level:
    root: {{ default .Env.LOG_LEVEL_FRAMEWORK "ERROR" }}
    eu:
      hbp: {{ default .Env.LOG_LEVEL "INFO" }}

# EMBEDDED SERVER CONFIGURATION
server:
  servlet:
    contextPath: {{ default .Env.CONTEXT_PATH "/services" }}
  port: 8080
  use-forward-headers: true
  session:
    timeout: {{ default .Env.SESSION_TIMEOUT "2592000" }}

# ENDPOINTS
endpoints:
  enabled: true
  health:
    enabled: true
    endpoint: /health
    sensitive: false

services:
  exareme:
    queryExaremeUrl: {{ default .Env.EXAREME_URL "http://localhost:9090" }}/mining/query
    algorithmsUrl: {{ default .Env.EXAREME_URL "http://localhost:9090" }}/mining/algorithms.json

  galaxy:
    galaxyUrl:      {{ default .Env.GALAXY_URL "http://localhost:8090/" }}
    galaxyContext:  {{ default .Env.GALAXY_CONTEXT "nativeGalaxy/workflows/list" }}
    galaxyApiKey:   {{ .Env.GALAXY_API_KEY }}
    galaxyUsername:  {{ default .Env.GALAXY_USERNAME "admin" }}
    galaxyPassword:  {{ default .Env.GALAXY_PASSWORD "password" }}

  keycloak:
    keycloakUrl: {{ .Env.KEYCLOAK_URL }}
