<configuration>
    <appender name="FILE1" class="ch.qos.logback.core.FileAppender">
        <file>logs/portal-backend.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="eu.hbp.mip">
		<appender-ref ref="FILE1" />
	</logger>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="ERROR">
		<appender-ref ref="FILE1" />
	</logger>
    <logger name="eu.hbp.mip.utils" level="INFO" additivity="false">
        <appender-ref ref="FILE1" />
    </logger>
</configuration>